@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto+Slab:wght@300&display=swap');

/* 
red: #e70505;
light-grey: #cecece;
dark-grey: #8f8f8f;
white: #fff
*/

body {
    background: #cecece;
    font-family: 'Roboto Slab', serif;
}

/* navbar section */

.navbar {
    background: #8f8f8f;
    font-family: 'Hubballi', sans-serif;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.6rem;
}

.navbar-brand {
    font-family: 'Allerta Stencil', sans-serif;
    color: #e70505;
    font-size: 2rem;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-nav>li>a {
    color: #fff;
}

.navbar-nav>li>a:hover {
    color: #e70505;
}

.navbar-nav>li:hover {
    border-bottom: 2px solid #e70505;
}

.dropdown-menu {
    font-family: 'Allerta Stencil', sans-serif;
    background: #c4c4c4;
    max-height: 407px;
    overflow-y: auto;
}

.dropdown-item:hover {
    color: #e70505;
    background: transparent;
}

.dropdown-even {
    background-color: #cecece;
}
