@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto+Slab:wght@300&display=swap");

/* 
red: #be0606;
light-grey: #cecece;
dark-grey: #8f8f8f;
white: #fff
*/

/*
purp: #E73725
gre: #E1E1E1
blu: #FFF
yel: #010000
*/

body {
  /* font-family: sans-serif, serif; */
  font-family: "Allerta Stencil", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* sections */

.white-section {
  background-color: #fff;
}

.grey-section {
  background-color: #e1e1e1;
}

.parag-text {
  font-family: "Hubballi", sans-serif;
  font-size: 1.5rem;
}

/* navbar section */

.navbar {
  background: #be0606;
  font-family: "Hubballi", sans-serif;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.6rem;
}

.navbar-brand {
  font-family: "Allerta Stencil", sans-serif;
  color: #fff;
  font-size: 2rem;
}

.navbar-brand:hover {
  color: #010000;
}

.navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > li:hover {
  border-bottom: 2px solid #fff;
}

.dropdown-toggle::after {
  vertical-align: 0.15em;
  margin-left: 0.5em;
}

.nav-item.dropdown:hover .dropdown-toggle {
  border-bottom: none;
}

.dropdown-menu {
  font-family: "Hubballi", sans-serif;
  background: #ffffff;
  max-height: 500px;
  overflow-y: auto;
  border: 2px solid #be0606;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0;
  min-width: 200px;
}

.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #be0606;
  border-radius: 4px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #a00505;
}

.dropdown-item {
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
  color: #333;
  transition: all 0.2s ease;
  border-left: 3px solid transparent;
}

.dropdown-even {
  background-color: #f8f8f8;
}

.dropdown-item:hover {
  color: #be0606;
  background-color: #ffe6e6;
  border-left: 3px solid #be0606;
  text-decoration: none;
  padding-left: 1.7rem;
}

.dropdown-even:hover {
  background-color: #ffe6e6;
}

/* footer section */

footer {
  background-color: #010000;
  color: #fff;
  margin-top: auto;
}

.fa-stack {
  color: #fff;
}

.fa-stack:hover {
  color: #be0606;
}

/* index */

.row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.box1:hover .fa-icon {
  color: #e73725;
}

.box2:hover .fa-icon {
  color: #e73725;
}

.box3:hover .fa-icon {
  color: #e73725;
}

.row a {
  color: #010000;
}

.row:hover a {
  color: #010000;
}

.feature-title {
  font-size: 2rem;
}

.fa-icon {
  margin-bottom: 1rem;
  color: #be0606;
}

.highlight2 {
  color: #be0606;
  font-weight: bolder;
}

.gw-table {
  border-collapse: collapse;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 1rem;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.gw-table th {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #010000;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
}

.gw-table td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.gw-table tr:nth-child(even) {
  background-color: #fff;
}

.gw-table tr:nth-child(odd) {
  background-color: #e1e1e1;
}

/* 404 */

.error404 {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #be0606;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

.problem-text {
  color: #be0606;
}

.button-home {
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  font-size: 17px;

  background: #8f8f8f;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.button-home:hover {
  background: #6b6b6b;
  cursor: pointer;
}

/* config */

.pl-logo {
  width: 240px;
  height: auto;
}

.fpl-btn {
  background-color: #8f8f8f;
  color: #fff;
  margin-top: 1rem;
}

.fpl-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.fpl-btn.btn-danger {
  background-color: #be0606;
}

.fpl-btn.btn-danger:hover {
  background-color: #be0606;
}

/* Ranking */
.points-data {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* optimal */

.highlight {
  color: #be0606;
  font-weight: bolder;
  font-style: italic;
}

.position {
  margin-top: 2rem;
  float: left;
  width: 25%;
  padding: 4px;
}

.opti-style {
  text-align: center;
  margin-top: 3rem;
}

.pos-header {
  text-decoration: underline;
  text-decoration-color: #be0606;
}

.player-container {
  font-style: italic;
}

.bench {
  margin-top: 2rem;
}

.return-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Team */

.pl-badge {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.team-head h1 {
  font-size: 100px;
  /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
}

.Arsenal {
  color: #fff;
  background-color: #ef0107;
}

.AstonVilla {
  color: #670e36;
  background-color: #95bfe5;
}

.Bournemouth {
  color: #da291c;
  background-color: #000000;
}

.Brentford {
  color: #fff;
  background-color: #e30613;
}

.Brighton {
  color: #fff;
  background-color: #0057b8;
}

.Burnley {
  color: #6c1d45;
  background-color: #99d6ea;
}

.Chelsea {
  color: #fff;
  background-color: #034694;
}

.CrystalPalace {
  color: #fff;
  background-color: #1b458f;
}

.Everton {
  color: #fff;
  background-color: #003399;
}

.Fulham {
  color: #fff;
  background-color: #000000;
}

.Liverpool {
  color: #fff;
  background-color: #c8102e;
}

.Leeds {
  color: #ffffff;
  background-color: #1d428a;
}

.ManCity {
  color: #6cabdd;
  background-color: #1c2c5b;
}

.ManUtd {
  color: #000;
  background-color: #da291c;
}

.Newcastle {
  color: #fff;
  background-color: #241f20;
}

.Nottingham {
  color: #dd0000;
  background-color: #ffffff;
}

.Sunderland {
  color: #ffffff;
  background-color: #eb172b;
}

.Spurs {
  color: #132257;
  background-color: #fff;
}

.WestHam {
  color: #1bb1e7;
  background-color: #7a263a;
}

.Wolves {
  color: #000;
  background-color: #fdb913;
}

.team-p {
  font-family: "Hubballi", sans-serif;
  font-size: 1.4rem;
  margin-top: 1rem;
}

/* about */

.about-p {
  font-family: "Hubballi", sans-serif;
  font-size: 1.4rem;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2rem;
}

.about-c h1 {
  text-align: center;
}

/* your-config */

.config-head {
  margin-top: 2rem;
  text-align: center;
}

.row .pos-head {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* your-team */

.full-team {
  font-family: "Hubballi", sans-serif;
  margin-top: 1rem;
  font-size: x-large;
}
