<!-- Header -->
{% include "header.html" %}

<!-- Body -->
<div class="row">

    <div class="col-lg-12">
        <h1 class="">The Story of REAL-FPL</h1>
        <p class="about-p">
            Football has been my greatest interest for as long as I can remember. I have been playing a lot
            of it myself but since I started my computer science degree the real ambition for becoming a professional
            player ended. However, another interest started. During my studies I discovered the world of Fantasy
            Premier League. How much fun it was and how it helped me enjoy football even more. My best friend from
            the university does also enjoy football (even though he supports Spurs...) and since the 2018/2019 season
            we have been competing against each other in the famous coffee of the week h2h-league as well as in the
            Port-a-Fort-league.
        </p>
        <p class="about-p">
            As our knowledge about the subject we studied grew we also became more and more interested in finding
            ways of leveraging our collected knowledge to improve our FPL-game. Last year we started experimenting and
            invented Botlas, a team that was using only actual data to find the best team. It worked quite well, but
            both
            he and I managed to beat it but I guess it was since we are such great managers ourselves... This year I
            wanted
            to take this idea to the next level and this is how this site was born. I wanted to present the "best" team
            based on data and according to the budget available. I know it is not optimal and can definitely be improved
            further but I think it can be used to give you some inspiration about your team. I used this <span
                class="highlight"><a
                    href="https://medium.com/@joseph.m.oconnor.88/linearly-optimising-fantasy-premier-league-teams-3b76e9694877">link</a></span>
            a lot when I figured out how to calculate the best possible team and this <span class="highlight"><a
                    href="https://medium.com/@frenzelts/fantasy-premier-league-api-endpoints-a-detailed-guide-acbd5598eb19">link</a></span>
            is an excellent starting point when working with the api.
        </p>
        <p class="about-p">I hope you enjoy this site and feel free to reach out to me if you have any ideas how to
            improve it!
            / Punnmaestro
        </p>

    </div>

</div>
<!-- Footer -->
{% include "footer.html" %}