<!-- Header -->
{% include "header.html" %}

<div class="config-content">
    <div class="explaination">
        <p>In order to calculate the best possible team. You have to provide the budget of the team as well as how many
            gameweeks to consider. Do that and find out the ultimate team!
        </p>
    </div>

    <form method="post" action="{{url_for('best_team')}}">
        <input type="number" step="0.1" min="95" max="110" name="budget" placeholder="100.0" required />
        <select name="to_consider" id="budget" required>
            <option value="1">Next GW</option>
            <option value="5">Next 5 GWs</option>
            <option value="10">Remaning GWs</option>
        </select>
        <button type="submit" class="best-team-btn" name="submitcheck" id="submit_check">Let's Go</button>
    </form>
</div>

<div class="image-div">
    <img src="../static/images/pl_logo.png" alt="Pl-logo">
</div>


<!-- Footer -->
{% include "footer.html" %}