<footer class="footer-section" id="footer">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/PontusJaensson" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="bi bi-twitter" style="font-size: 2rem;"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/pontus-jaensson-48b1811a1/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/ponjae" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="bi bi-github" style="font-size: 2rem;"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://fantasy.premierleague.com/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="bi bi-dribbble" style="font-size: 2rem;"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center fst-italic">
                    Made by Pontus Jaensson 2022. Copyright &copy;
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- Select2 JS for searchable dropdowns -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>

</html>