<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-FPL</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent"> <a class="navbar-brand" href="#">REAL FPL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"> <a class="nav-link" href="#">YOUR TEAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BEST TEAM</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PL TEAMS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item dropdown-even" href="#">Arsenal</a>
                        <a class="dropdown-item " href="#">Aston Villa</a>
                        <a class="dropdown-item dropdown-even" href="#">Brentford</a>
                        <a class="dropdown-item" href="#">Brighton</a>
                        <a class="dropdown-item dropdown-even" href="#">Burnley</a>
                        <a class="dropdown-item" href="#">Chelsea</a>
                        <a class="dropdown-item dropdown-even" href="#">Crystal Palace</a>
                        <a class="dropdown-item" href="#">Everton</a>
                        <a class="dropdown-item dropdown-even" href="#">Leeds</a>
                        <a class="dropdown-item" href="#">Leicester</a>
                        <a class="dropdown-item dropdown-even" href="#">Liverpool</a>
                        <a class="dropdown-item" href="#">Man City</a>
                        <a class="dropdown-item dropdown-even" href="#">Man Utd</a>
                        <a class="dropdown-item" href="#">Newcastle</a>
                        <a class="dropdown-item dropdown-even" href="#">Norwich</a>
                        <a class="dropdown-item" href="#">Southampton</a>
                        <a class="dropdown-item dropdown-even" href="#">Spurs</a>
                        <a class="dropdown-item" href="#">Watford</a>
                        <a class="dropdown-item dropdown-even" href="#">West Ham</a>
                        <a class="dropdown-item" href="#">Wolves</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT</a>
                </li>
            </ul>
        </div>
    </nav>