<!-- Header -->
{% include "header.html" %}

<!-- Body -->
<section class="grey-section">
    <h1 class="points-data">Points Data</h1>
    <div class="row ranking-div">
        <div class="player-data col-lg-3">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Player Form</h1>
            {% for player in form %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}}p - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-3">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Points per Game</h1>
            {% for player in points_per_game %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}}p - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-3">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Points per Million</h1>
            {% for player in points_per_million %}
            <p>{{player[0]}}. {{player[1]}} - {{round(player[2],2)}}p - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-3">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Total Points</h1>
            {% for player in total_points %}
            <p>{{player[0]}}. {{player[1]}} - {{round(player[2], 2)}}p - ({{player[3]}})</p>
            {% endfor %}
        </div>
    </div>
</section>

<section class="white-section">
    <h1 class="points-data">Budget Data</h1>
    <div class="row ranking-div">
        <div class="player-data col-lg-6">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Most Expensive Players</h1>
            {% for player in now_cost %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}}m - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-6">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Cheapest Players</h1>
            {% for player in cheapest %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}}m - ({{player[3]}})</p>
            {% endfor %}
        </div>
    </div>
</section>


<section class="grey-section">
    <h1 class="points-data">Player Detailed Data</h1>
    <div class="row ranking-div">
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Top Scorers</h1>
            {% for player in goals_scored %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}} <i class="fa-solid fa-futbol"></i> - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Most Assists</h1>
            {% for player in assists %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}} <i class="fa-solid fa-bullseye"></i> - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Minutes Played</h1>
            {% for player in minutes %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}}min - ({{player[3]}})</p>
            {% endfor %}
        </div>
    </div>
</section>

<section class="white-section">
    <h1 class="points-data">More Detailed Data</h1>
    <div class="row ranking-div">
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Most Chosen</h1>
            {% for player in selected_by_percent %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}}% - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Most Transfered In</h1>
            {% for player in transfers_in %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}} - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Most Transfered Out</h1>
            {% for player in transfers_out %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}} - ({{player[3]}})</p>
            {% endfor %}
        </div>
    </div>
</section>

<section class="grey-section">
    <h1 class="points-data">Goalkeeper Data</h1>
    <div class="row ranking-div">
        <div class="player-data col-lg-6">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Saves</h1>
            {% for player in saves %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}} - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-6">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Saved Penalites</h1>
            {% for player in penalties_saved[:8] %}
            <p>{{player[0]}}. {{player[1]}} - {{player[2]}} - ({{player[3]}})</p>
            {% endfor %}
        </div>
    </div>
</section>

<section class="white-section">
    <h1 class="points-data">Algorithm Data</h1>
    <div class="row ranking-div">
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Most Valuable Next Gw</h1>
            {% for player in PLAYER_VALUE %}
            <p>{{player[0]}}. {{player[1]}} - {{round(player[2], 3)}} - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Most Valuable Next 5 Gw:s</h1>
            {% for player in PLAYER_5_VALUE %}
            <p>{{player[0]}}. {{player[1]}} - {{round(player[2], 3)}} - ({{player[3]}})</p>
            {% endfor %}
        </div>
        <div class="player-data col-lg-4">
            <h1 class="pos-header" style="font-family: 'Hubballi', sans-serif">Most Valuable Remaining Gw:s</h1>
            {% for player in PLAYER_REMAINING_VALUE %}
            <p>{{player[0]}}. {{player[1]}} - {{round(player[2], 3)}} - ({{player[3]}})</p>
            {% endfor %}
        </div>
    </div>
</section>



<!-- Footer -->
{% include "footer.html" %}