<!-- Header -->
{% include "header.html" %}

<!-- Body -->
<div class="{{ scheme }}">

    <div class="row col-lg-12">
        <div class="col-lg-6 team-head">
            <h1>{{ scheme }}</h1>
        </div>
        <div class="col-lg-6 team-head">
            <img class="pl-badge" src="../static/images/badges/{{ scheme }}.png" alt="TEAM-BADGE">
        </div>
    </div>
</div>
<section class="grey-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-text">
                <h1 id="pl-history-table">Overview: {{ scheme }} Data</h1>
                <p class="parag-text">
                    The tables below presents data from the game for <span class="highlight2">all</span> of the past
                    gameweeks.
                </p>
            </div>

            <div class="gw-data">
                <table class="gw-table">
                    <tr>
                        <th>Player</th>
                        <th>Position</th>
                        <th>Price</th>
                        <th>Total Points</th>
                        <th>Form</th>
                        <th>Points per Million</th>
                        <th>Minutes Played</th>
                        <th>Selected by</th>
                    </tr>
                    {% for player in team_data %}
                    <tr>
                        <td>{{player["web_name"]}}</td>
                        <td>{{position_dict[player["element_type"]]}}</td>
                        <td>{{player["now_cost"]}}</td>
                        <td>{{player["total_points"]}}</td>
                        <td>{{player["form"]}}</td>
                        <td>{{round(player["points_per_million"], 2)}}</td>
                        <td>{{player["minutes"]}}</td>
                        <td>{{player["selected_by_percent"]}}%</td>
                    </tr>
                    {% endfor %}
                </table>
                <table class="gw-table">
                    <tr>
                        <th>Player</th>
                        <th>Goals Scored</th>
                        <th>Assists</th>
                        <th>Saves</th>
                        <th>Bonus Points</th>
                        <th>1 Gw Value</th>
                        <th>5 Gw:s Value</th>
                        <th>Remaining Gw:s Value</th>

                    </tr>
                    {% for player in team_data %}
                    <tr>
                        <td>{{player["web_name"]}}</td>
                        <td>{{player["goals_scored"]}}</td>
                        <td>{{player["assists"]}}</td>
                        <td>{{player["saves"]}}</td>
                        <td>{{player["bonus"]}}</td>
                        <td>{{round(player["PLAYER_VALUE"], 2)}}</td>
                        <td>{{round(player["PLAYER_5_VALUE"], 2)}}</td>
                        <td>{{round(player["PLAYER_REMAINING_VALUE"], 2)}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


</section>

<!-- Footer -->
{% include "footer.html" %}